<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
</head>
<body>
   <table>
        <!-- headings -->
        <tr>
            <th>Method</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        
        <!-- users -->
        <tr>
            <td>get</td>
            <td>/</td>
            <td>route to the home page</td>
        </tr>
        <tr>
            <td>post</td>
            <td>/user</td>
            <td>route to login</td>
        </tr>
        <tr>
            <td>get</td>
            <td>/users</td>
            <td>Route to get users</td>
        </tr>
        <tr>
            <td>get</td>
            <td>/user/:id</td>
            <td>Get a single user</td>
        </tr>
        <tr>
            <td>put</td>
            <td>user/:id</td>
            <td>Update a single user</td>
        </tr>
        <tr>
            <td>put</td>
            <td>/admin/:id</td>
            <td>Toggle admin state</td>
        </tr>
        <tr>
            <td>post</td>
            <td>/register</td>
            <td>registe a new user</td>
        </tr>
        <tr>
            <td>delete</td>
            <td>/user/:id</td>
            <td>delete a user</td>
        </tr>

        <!-- courses -->
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>

   </table>
</body>
</html>